<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" style="height:75px;">
    <a class="navbar-brand" href="#" style="padding-left: 15px;color:yellow">菜單</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width:100%;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" style="position: relative; left:1080px;">
          <a class="nav-link" [routerLink]="['/login']" style="color:white;">登入</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="text-align: center;position: relative;top:135px;">
    <h1>使用者登入</h1>
        <input type="text" placeholder="帳號">
        <br>
        <input type="password" placeholder="密碼">
        <br>
        <button type="button" class="btn btn-primary" style="position: relative;left:-48px;">登入</button>
        <a href="#" style="position: relative;left:-40px;">註冊</a>
        <br>
        <a href="#" style="position: relative;left:-55px;">忘記密碼?</a>
  </div>
